---
import '../styles/global.css';
const BASE_URL = import.meta.env.BASE_URL;
---

<!doctype html>
<html lang="en" class="lg:h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/nina-komel/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content={BASE_URL} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Nina Komel" />
    <meta property="og:description" content="Nina Komel works" />
    <meta property="og:image" content={`${BASE_URL}/og-image.png`} />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={BASE_URL} />
    <meta property="twitter:url" content={BASE_URL} />
    <meta name="twitter:title" content="Nina Komel" />
    <meta name="twitter:description" content="Nina Komel works" />
    <meta name="twitter:image" content={`${BASE_URL}/og-image.png`} />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <title>Nina Komel</title>
    <meta name="description" content="Nina Komel works" />
  </head>
  <body
    class="lg:flex lg:flex-col lg:justify-between lg:h-full p-[var(--space-base)]"
  >
    <slot />
  </body>
</html>
